[{%- if rest_response_getall is defined and rest_response_getall is iterable and (rest_response_getall is not string and rest_response_getall is not mapping) -%}
    {%- for filter_item in rest_response_filters -%}
        {% set filter_loop = loop %}
        {%- for responseitem in rest_response_getall -%}
            {%- if responseitem.name == filter_item.name and responseitem.version == filter_item.version -%}
                {%- if filter_loop.index0 > 0 -%},{%- endif -%}'{{ responseitem.id }}'
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
{%- endif -%}]